# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# temp file
*.[oa]
*~

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
*.pb.h
*.pb.cc
dist

# IDE die
.git
.vscode
.idea

# Local Config:
build
*EnviromentConfig.h

Debug
Release
Backup

# data file
*.jpg
*.zip
*.rar
# other file
*.pb.h
*.pb.cc


